@import url('https://fonts.googleapis.com/css?family=Poppins');



body{
  background:GhostWhite;
  /* background: linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%); */
  font-family: 'Poppins', sans-serif;
  color: black;
}

.container{
	position: relative;
}

.header{
	font-size: 80px;
	text-transform: uppercase;
	font-weight: 900;
	position: absolute;
	z-index: 10;
	top: 15px;
}
.map{
	position: absolute;
	top: 200px;
}

.circle{
	position: relative;
	background-color: rgba(256,256,256,0.7);
	border-radius: 50%;
	width: 400px;
	height: 400px;
	top: 200px;
	padding: 30px;
}
.weather-description{
	position: absolute;
	z-index: 20;
	padding: 20px;
	top: 30px;
}

#zachodniopomorskie:hover,
#swietokrzyskie:hover,
#slaskie:hover,
#mazowieckie:hover,
#warminsko:hover,
#pomorskie:hover,
#podlaskie:hover,
#podkarpackie:hover,
#opolskie:hover,
#lubuskie:hover,
#lubelskie:hover,
#dolnoslaskie:hover,
#lodzkie:hover,
#malopolskie:hover,
#kujawsko:hover,
#wielkopolskie:hover
{
	fill: GhostWhite;
}


#warszawa:hover{
  fill: HotPink;
}

#radom:hover{
  fill: HotPink;
}

#bialystok:hover{
  fill: HotPink;
}

#suwalki:hover{
  fill: HotPink;
}

#olsztyn:hover{
  fill: HotPink;
}

#sopot:hover{
  fill: HotPink;
}

#gdansk:hover{
  fill: HotPink;
}

#gdynia:hover{
  fill: HotPink;
}

#koszalin:hover{
  fill: HotPink;
}

#szczecin:hover{
  fill: HotPink;
}

#zgora:hover{
  fill: HotPink;
}

#wroclaw:hover{
  fill: HotPink;
}

#opole:hover{
  fill: HotPink;
}

#katowice:hover{
  fill: HotPink;
}

#krakow:hover{
  fill: HotPink;
}

#rzeszow:hover{
  fill: HotPink;
}

#przemysl:hover{
  fill: HotPink;
}

#lublin:hover{
  fill: HotPink;
}

#kielce:hover{
  fill: HotPink;
}

#lodz:hover{
  fill: HotPink;
}

#torun:hover{
  fill: HotPink;
}